<div ng-controller="LoginCtrl" class="container">
    <div class="row">
        <div class="col-sm-6 login-container">
            <div class="employer-login">
                <div class="text-center employer-login-header">Employer</div>
                <div class="login-body">
                    <form role="form" ng-submit="employerLogin()">
                        <div class="login-input">
                            <md-input-container>
                                <label for="employerEmail">Email</label>
                                <input id="employerEmail" ng-model="employer.email" type="email" required>
                                <span ng-show="employerAuthenticationError" class="help-block login-alert">
                                    Please check your credentials and try again.
                                </span>
                            </md-input-container>
                        </div>
                        <div class="login-input">
                            <md-input-container>
                                <label for="employerPassword">Password</label>
                                <input id="employerPassword" ng-model="employer.password" type="password" required>
                            </md-input-container>
                        </div>
                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary employer-btn">Log in</md-button>
                        </div>
                    </form>
                </div>
                <div class="text-center login-footer">
                    <md-button ng-click="navigateTo('/register/employer')">Create Account</md-button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 login-container">
            <div class="employee-login">
                <div class="text-center employee-login-header">Employee</div>
                <div class="login-body">
                    <form role="form" ng-submit="employeeLogin()">
                        <div class="login-input">
                            <md-input-container>
                                <label for="employeeEmail">Email</label>
                                <input id="employeeEmail" ng-model="employee.email" type="email" required>
                                <span ng-show="employeeAuthenticationError" class="help-block login-alert">
                                    Please check your credentials and try again.
                                </span>
                            </md-input-container>
                        </div>
                        <div class="login-input">
                            <md-input-container>
                                <label for="employeePassword">Password</label>
                                <input id="employeePassword" ng-model="employee.password" type="password" required>
                            </md-input-container>
                        </div>
                        <div class="text-center">
                            <md-button type="submit" class="md-raised md-primary employee-btn">Log in</md-button>
                        </div>
                    </form>
                </div>
                <div class="text-center login-footer">
                    <md-button ng-click="navigateTo('/register/employee')">Create Account</md-button>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-success" ng-show="isCreated">
        Your account has been created now you can login in this awesome application ! ;-)
    </div>
</div>