<div ng-controller="EmployerProfileEmployeeCtrl" flex ng-cloak class="job-details">
    <div class="row">
        <div class="col-md-4 post-details">
            <md-card md-theme-watch class="post-details-card">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline"><strong>{{employer.firstName + ' ' + employer.lastName}}</strong></span>
                        <br/>
                        <span class="md-subhead"><strong>Email : </strong> <br/>{{employer.email}}</span>
                        <br/>
                        <span class="md-subhead"><strong>Phone Number : </strong> <br/> {{employer.phoneNumber}}</span>
                        <br/>
                        <span class="md-subhead">
                            <div id="container1"></div>
                        </span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg">
                            <img alt="No img" ng-src="{{employer.profilePicture}}">
                        </div>
                    </md-card-title-media>
                </md-card-title>
            </md-card>
        </div>

        <div flex-gt-sm flex class="col-md-8">
            <md-toolbar layout="row" class="review-employer-toolbar margin-top-10">
                <div class="md-toolbar-tools">
                    <span>Reviews</span>
                </div>
            </md-toolbar>

            <md-content>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="response in responses">
                        <div class="md-list-item-text md-list-item-padding">
                            <h4><strong>{{response.employeeFullName}}</strong></h4>
                            <h4><strong>Date : </strong> {{response.review.date}}</h4>
                            <p><strong>Comment : </strong> {{response.review.comment}}</p>
                        </div>
                        <div flex class="md-secondary">
                            <div star-rating ng-model="response.review.point" max="10" readonly="true"></div>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>