<div ng-controller="JobDetailsEmployeeCtrl" flex ng-cloak class="job-details">
    <div class="row">
        <div class="col-md-4 post-details">
            <user-details color="#61B329" user="job.employer" ng-click="employerProfile(job.employer)"></user-details>
        </div>
        <div class="col-md-4 post-details">
            <md-card md-theme-watch class="post-details-card">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline"><strong>{{job.name}}</strong></span>
                        <span class="md-subhead"><strong>Description : </strong>{{job.description}}</span>
                        <span class="md-subhead"><strong>From </strong> {{job.startDate}} <strong>to</strong> {{job.endDate}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-primary btn-apply-job" ng-click="apply()">Apply</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div class="col-md-4">
            <ng-map center="{{latlng}}" zoom="14" class="map-margin">
                <marker position="{{latlng}}"></marker>
            </ng-map>
        </div>
    </div>
</div>