<div ng-controller="EmployeeCtrl" ng-cloak>
    <md-content>
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links"
                    class="nav-bar-employee">
            <span class="logo">Jobzz</span>
            <span flex></span>
            <md-nav-item md-nav-click="navigateTo('/employee/home')" name="home">
                <div class="nav-item">
                    <md-icon md-svg-icon="image/home.svg"></md-icon>
                    <span class="nav-caption">Home</span>
                </div>
            </md-nav-item>
            <md-nav-item md-nav-click="navigateTo('/employee/find/job')" name="newpost">
                <div class="nav-item">
                    <md-icon md-svg-icon="image/plus.svg"></md-icon>
                    <span class="nav-caption">Find Job</span>
                </div>
            </md-nav-item>
            <md-nav-item md-nav-click="navigateTo('/employee/profile')" name="profile">
                <div class="nav-item">
                    <md-icon md-svg-icon="image/user.svg"></md-icon>
                    <span class="nav-caption">My Profile</span>
                </div>
            </md-nav-item>
            <md-nav-item md-nav-click="navigateTo('/employee/settings')" name="settings">
                <div class="nav-item">
                    <md-icon md-svg-icon="image/wrench.svg"></md-icon>
                    <span class="nav-caption">Settings</span>
                </div>
            </md-nav-item>
            <md-nav-item md-nav-click="logoutEmployee()" name="logout">
                <div class="nav-item">
                    <md-icon md-svg-icon="image/switch.svg"></md-icon>
                    <span class="nav-caption">Logout</span>
                </div>
            </md-nav-item>
        </md-nav-bar>
    </md-content>
</div>