<div ng-controller="EmployeeCtrl" ng-cloak>
    <md-content>
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links"
                    class="nav-bar-employee">
            <span class="employee-logo">Jobzz</span>
            <md-nav-item md-nav-click="navigateTo('/employee/home')" name="home">
                <div class="nav-item">
                    <md-icon md-svg-icon="image/home.svg"></md-icon>
                    <span class="nav-caption">Home</span>
                </div>
            </md-nav-item>
            <md-nav-item md-nav-click="navigateTo('/employee/find/job')" name="newpost">
                <div class="nav-item">
                    <md-icon md-svg-icon="image/plus.svg"></md-icon>
                    <span class="nav-caption">Find Job</span>
                </div>
            </md-nav-item>
            <md-nav-item md-nav-click="navigateTo('/employee/history')" name="history">
                <div class="nav-item">
                    <md-icon md-svg-icon="image/hour-glass.svg"></md-icon>
                    <span class="nav-caption">History</span>
                </div>
            </md-nav-item>
            <span flex></span>
            <div class="menu-demo-container" layout-align="center center" layout="column">
                <md-menu>
                    <md-button ng-click="openMenu($mdOpenMenu, $event)" class="user-menu">
                        <em class="fa fa-caret-down" aria-hidden="true"></em>
                        <span class="user-name">{{employee.firstName + ' ' + employee.lastName}}</span>
                        <img ng-src="{{employee.picture}}" alt="No image" class="user-img-menu">
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="navigateTo('/employee/profile')">
                                <md-icon md-svg-icon="image/user.svg"></md-icon>
                                My Profile
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="navigateTo('/employee/settings')">
                                <md-icon md-svg-icon="image/wrench.svg"></md-icon>
                                Settings
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="logoutEmployee()">
                                <md-icon md-svg-icon="image/switch.svg"></md-icon>
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-nav-bar>
    </md-content>
</div>