<div ng-controller="WarningNewPostEmployeeCtrl" flex ng-cloak>
    <div role="dialog" layout="column" layout-align="center center">
        <md-toolbar>
            <div class="md-toolbar-tools apply-job-toolbar">
                <h3>WARNING !</h3>
            </div>
        </md-toolbar>

        <div class="change-post-container">
            <div layout="row">
                <h3>You must to review all employers before to apply to a new job !</h3>
            </div>
            <div layout="row" class="dialog-button">
                <md-button flex class="md-primary" ng-click="closeDialog()" flex-gt-sm>
                    OK
                </md-button>
            </div>
        </div>
    </div>
</div>