<div ng-controller="DeletePostEmployerCtrl">
    <div role="dialog" layout="column" layout-align="center center">
        <div layout="row">
            <h3>Are you sure you want to delete this post?</h3>
        </div>

        <div layout="row" class="dialog-button">
            <md-button ng-click="deletePost()" flex class="md-primary" flex-gt-sm>
                Yes
            </md-button>
            <md-button ng-click="closeDialog()" flex class="md-primary" flex-gt-sm>
                No
            </md-button>
        </div>

    </div>
</div>