<div ng-controller="HomeEmployerCtrl" ng-cloak>

    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="25" layout="column">
            <md-card md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline post0">Name</span>
                        <span class="md-subhead">Description</span>
                        <hr/>
                        <span class="md-subhead">From StartDate to EndDate</span>
                        <span class="md-subhead">Applications : </span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="25" layout="column">
            <md-card md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline post0">Name</span>
                        <span class="md-subhead">Description</span>
                        <hr/>
                        <span class="md-subhead">From StartDate to EndDate</span>
                        <span class="md-subhead">Applications : </span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="25" layout="column">
            <md-card md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline post1">Name</span>
                        <span class="md-subhead">Description</span>
                        <hr/>
                        <span class="md-subhead">From StartDate to EndDate</span>
                        <span class="md-subhead">Applications : </span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="25" layout="column">
            <md-card md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline post1">Name</span>
                        <span class="md-subhead">Description</span>
                        <hr/>
                        <span class="md-subhead">From StartDate to EndDate</span>
                        <span class="md-subhead">Applications : </span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </md-content>

    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="25" layout="column">
            <md-card md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline post1">Name</span>
                        <span class="md-subhead">Description</span>
                        <hr/>
                        <span class="md-subhead">From StartDate to EndDate</span>
                        <span class="md-subhead">Applications : </span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="25" layout="column">
            <md-card md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline post2">Name</span>
                        <span class="md-subhead">Description</span>
                        <hr/>
                        <span class="md-subhead">From StartDate to EndDate</span>
                        <span class="md-subhead">Applications : </span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </md-content>

</div>