<div ng-controller="PostDetailsEmployerCtrl" flex ng-cloak class="home-employer">

    <div class="row">
        <div class="col-md-8 post-details">
            <md-card md-theme-watch class="post-details-card">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline"><b>{{post.name}}</b></span>
                        <span class="md-subhead"><b>Description : </b>{{post.description}}</span>
                        <span class="md-subhead"><b>From </b> {{post.startDate}} <b>to</b> {{post.endDate}}</span>
                    </md-card-title-text>
                </md-card-title>
                <div ng-if="post.status == 0">
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primary" ng-click="change()">Change</md-button>
                        <md-button class="md-warn" ng-click="delete()">Delete</md-button>
                    </md-card-actions>
                </div>
            </md-card>
        </div>
        <div class="col-md-4">
            <ng-map center="{{latlng}}" zoom="14" class="map-margin">
                <marker position="{{latlng}}"></marker>
            </ng-map>
        </div>
    </div>

    <div flex-gt-sm flex class="applications">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <span>Applications</span>
            </div>
        </md-toolbar>

        <md-content>
            <md-list flex>
                <md-list-item class="md-3-line" ng-click="null" ng-repeat="employeePost in post.employeePostings">
                    <md-icon md-svg-icon="image/user.svg" class="md-avatar"></md-icon>
                    <div class="md-list-item-text md-list-item-padding">
                        <h3>{{ employeePost.employee.firstName + ' ' + employeePost.employee.lastName }}</h3>
                        <h4><b>Reputation : </b>{{ employeePost.employee.reputation }}</h4>
                        <h4><b>Price : </b>{{ employeePost.price + ' ' + employeePost.currency }}</h4>
                        <h4><b>Date : </b> {{employeePost.date}}</h4>
                        <p><b>Comment : </b> {{employeePost.comment}}</p>
                    </div>
                    <div ng-if="post.status == 0">
                        <md-button class="md-icon-button md-secondary approve-button" ng-click="approved(employeePost)"
                                   ng-class=" 'checkmark' + employeePost.status " aria-label="Approve">
                            <md-icon md-svg-icon="image/checkmark.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button md-secondary delete-button" ng-click="refused(employeePost)"
                                   ng-class=" 'cross' + employeePost.status " aria-label="Delete">
                            <md-icon md-svg-icon="image/cross.svg"></md-icon>
                        </md-button>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>

    </div>

</div>