<div ng-controller="ProfileEmployerCtrl" flex ng-cloak class="job-details">
    <div class="row">
        <div class="col-md-4 post-details">
            <user-details color="#3063A5" user="employer"></user-details>
        </div>
        <div flex-gt-sm flex class="col-md-8 reviews">
            <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                    <span>Reviews</span>
                </div>
            </md-toolbar>
            <md-content>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="response in responses">
                        <div class="md-list-item-text md-list-item-padding">
                            <h4><strong>{{response.employeeFullName}}</strong></h4>
                            <h4><strong>Date : </strong> {{response.review.date}}</h4>
                            <p><strong>Comment : </strong> {{response.review.comment}}</p>
                        </div>
                        <div flex class="md-secondary">
                            <div star-rating ng-model="response.review.point" max="10" readonly="true"></div>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>