.login-container {
  margin-top: 50px;
}

.login {
  width: 90%;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.login-body {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-header {
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 20px;
}

.login-footer {
  padding-bottom: 20px;
  font-size: 15px;
}

.login-input md-input-container {
  width: 100%;
  font-size: 15px;
}

.login-alert {
  color: red;
}

.logo {
  font-size: 33px;
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 5px;
  background-color: white;
}

div.nav-item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  color: white !important;
}

div.nav-item md-icon {
  color: white !important;
}

span.nav-caption {
  display: block;
}

.md-nav-bar {
  height: 60px !important;
}

.view {
  height: 100%;
}

.user-menu {
  padding: 15px;
  margin-top: -10px;
  margin-right: -5px;
  padding-right: 30px;
  color: white;
}

.user-name {
  padding-right: 10px;
  padding-left: 10px;
}

.user-img-menu {
  height: 50px;
  border-radius: 10px;
  border: 3px solid #FFFFFF;
}