.login-container {
  margin-top: 50px;
}

.login {
  width: 90%;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.login-body {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-header {
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 20px;
}

.login-footer {
  padding-bottom: 20px;
  font-size: 15px;
}

.login-input md-input-container {
  width: 100%;
  font-size: 15px;
}

.login-alert {
  color: red;
}

.logo {
  font-size: 33px;
  margin-left: 30px;
  margin-top: 5px;
  color: white;
}

div.nav-item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  color: white !important;
}

div.nav-item md-icon {
  color: white !important;
}

span.nav-caption {
  display: block;
}

.md-nav-bar {
  height: 60px !important;
}