$employee-color: #61B329;

.employee-login {
  @extend .login;
  border-color: $employee-color;
}

.employee-login-header {
  @extend .login-header;
  background-color: $employee-color;
}

.md-button.md-primary.md-raised.employee-btn {
  background-color: $employee-color;
}