$employer-color: #3063A5;
$employer-post0: #ffff8d;
$employer-post1: #b9f6ca;
$employer-post2: #ff8a80;

.employer-login {
  @extend .login;
  border-color: $employer-color;
}

.employer-login-header {
  @extend .login-header;
  background-color: $employer-color;
}

.md-button.md-primary.md-raised.employer-btn {
  background-color: $employer-color;
}

.nav-bar-employer > .md-nav-bar,
.new-post-toolbar,
.change-post-toolbar {
  background-color: $employer-color !important;
}

.new-post,
.change-post,
.delete-post {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
  0 13px 19px 2px rgba(0, 0, 0, 0.14),
  0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 500px;
}

.new-post-container,
.change-post-container {
  width: 100%;
  padding: 15px;
}

.new-post-label,
.change-post-label {
  width: 100%;
}

.new-post-map,
.change-post-map {
  height: 300px;
  width: 100%;
}

.post0 {
  background-color: $employer-post0;
  height: 300px;
}

.post1 {
  background-color: $employer-post1;
  height: 300px;
}

.post2 {
  background-color: $employer-post2;
  height: 300px;
}

div.home-employer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.post-details {
  height: 300px;
}

.post-details-card {
  height: 100%;
}

.map-margin {
  margin-top: 8px;
}

.applications {
  padding-left: 8px;
}

.applications md-toolbar,
.reviews md-toolbar,
.change md-toolbar{
  background-color: $employer-color !important;
  color: white;
}

.applications md-toolbar {
  margin-top: 30px;
}

.reviews {
  margin-top: 10px;
}

.md-list-item-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.approve-button:hover > md-icon,
.checkmark1 > md-icon {
  color: green;
}

.delete-button:hover > md-icon,
.cross2 > md-icon {
  color: red;
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;

  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      color: #fd0;
    }
  }

  &.readonly .star.filled {
    color: #fd0;
  }
}

.btn-pay,
.btn-pay:hover {
  color: #fff !important;
  background-color: #419641;
  border-color: #5cb85c;
}