$employer-color: #3063A5;

.employer-login {
  @extend .login;
  border-color: $employer-color;
}

.employer-login-header {
  @extend .login-header;
  background-color: $employer-color;
}

.md-button.md-primary.md-raised.employer-btn {
  background-color: $employer-color;
}