.login-container {
  margin-top: 50px;
}

.login {
  width: 90%;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.login-body {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-header {
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 20px;
}

.login-footer {
  padding-bottom: 20px;
  font-size: 15px;
}

.login-input md-input-container {
  width: 100%;
  font-size: 15px;
}

.login-alert {
  color: red;
}