<div class="row">
    <div class="col-sm-6 login-container">
        <div class="employer-login">
            <div class="text-center employer-login-header">Employer</div>
            <div class="login-body">
                <form role="form" ng-submit="controller.login()">
                    <div class="form-group">
                        <label for="employer_username">Username:</label>
                        <input type="text" class="form-control" id="employer_username" name="username"
                               ng-model="controller.credentials.username"/>
                    </div>
                    <div class="form-group">
                        <label for="employer_password">Password:</label>
                        <input type="password" class="form-control" id="employer_password" name="password"
                               ng-model="controller.credentials.password"/>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn employer-btn">Log in</button>
                    </div>
                </form>
            </div>
            <div class="text-center login-footer">
                <a href="#/create-account-employer">Create Account</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 login-container">
        <div class="employee-login">
            <div class="text-center employee-login-header">Employee</div>
            <div class="login-body">
                <form role="form" ng-submit="controller.login()">
                    <div class="form-group">
                        <label for="employee_username">Username:</label>
                        <input type="text" class="form-control" id="employee_username" name="username"
                               ng-model="controller.credentials.username"/>
                    </div>
                    <div class="form-group">
                        <label for="employee_password">Password:</label>
                        <input type="password" class="form-control" id="employee_password" name="password"
                               ng-model="controller.credentials.password"/>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn employee-btn">Log in</button>
                    </div>
                </form>
            </div>
            <div class="text-center login-footer">
                <a href="#/create-account-employee">Create Account</a>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-danger" ng-show="controller.error">
    There was a problem logging in. Please try again.
</div>
